{% extends 'admin/base.html' %}
{% block content %}
<h2 class="text-2xl font-bold text-primary mb-6">Editar Player</h2>
<form action="{{ url_for('admin_edit_player', player_id=player.id) }}" method="POST" class="space-y-4 max-w-lg" enctype="multipart/form-data">
    <input type="text" name="name" value="{{ player.name }}" class="w-full p-2 rounded bg-gray-800 text-light" required>
    <input type="text" name="role" value="{{ player.role }}" class="w-full p-2 rounded bg-gray-800 text-light" required>
    <input type="text" name="game" value="{{ player.game }}" class="w-full p-2 rounded bg-gray-800 text-light">
    
    <label class="block text-light">Imagem Atual:</label>
    {% if player.image_file %}
    <img src="{{ url_for('static', filename='uploads/players/' + player.image_file) }}" 
        alt="Imagem Atual do Player" 
        class="max-h-40 w-40 object-cover rounded-lg mb-2 border border-gray-700">
    {% else %}
    <p class="text-gray-400">Nenhuma imagem atual salva.</p>
    {% endif %}

    <label for="image_file" class="block text-light">Substituir Imagem (opcional):</label>
    <input type="file" name="file" id="image_file" class="w-full p-2 rounded text-light">
        
    <div class="flex space-x-2">
        <input type="url" name="twitter" value="{{ player.twitter }}" placeholder="Twitter" class="w-full p-2 rounded bg-gray-800 text-light">
        <input type="url" name="instagram" value="{{ player.instagram }}" placeholder="Instagram" class="w-full p-2 rounded bg-gray-800 text-light">
    </div>
    <div class="flex space-x-2">
        <input type="url" name="youtube" value="{{ player.youtube }}" placeholder="YouTube" class="w-full p-2 rounded bg-gray-800 text-light">
        <input type="url" name="twitch" value="{{ player.twitch }}" placeholder="Twitch" class="w-full p-2 rounded bg-gray-800 text-light">
    </div>
    <button type="submit" class="bg-primary px-4 py-2 rounded-lg font-bold hover:bg-primary/90">Atualizar</button>
</form>
{% endblock %}