{% extends 'admin/base.html' %}
{% block content %}
<h2 class="text-2xl font-bold text-primary mb-6">Adicionar Produto</h2>
<form action="{{ url_for('admin_add_product') }}" method="POST" class="space-y-4 max-w-lg" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="text" name="name" placeholder="Nome do Produto" class="w-full p-2 rounded bg-gray-800 text-light" required>
    <input type="number" name="price" step="0.01" placeholder="Preço (ex: 149.90)" class="w-full p-2 rounded bg-gray-800 text-light" required>
    
        <label for="image_file" class="block text-light">Upload da Imagem do Produto:</label>
    <input type="file" name="file" id="image_file" class="w-full p-2 rounded text-light">

    <input type="text" name="tag" placeholder="Tag (ex: NOVO, BEST SELLER)" class="w-full p-2 rounded bg-gray-800 text-light">
        
    <button type="submit" class="bg-primary px-4 py-2 rounded-lg font-bold hover:bg-primary/90">Adicionar Produto</button>
</form>
{% endblock %}